{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Registrarse Socios</title>
<!-- google font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
{% endblock titulo %}

{% block cuerpo %}
<div class="container-fluid" style="position: relative;">

    <!-- BARRA LATERAL -->

    <div class="row">
        <div class="col-md-2 barra_lateralD ">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="titulo1">Duoc</h2>
                </div>
                <div class="col-md">
                    <h2 class="titulo2">UC GYM</h2>
                </div>

                <p style="color: #303030">*</p>
                <p style="color: #303030">*</p>
            </div>
            <div class="row">
                <h4><a href="{% url 'index' %}" class="texto_barra">Menu Principal</a> </h4>



                <p style="color: #303030">*</p>
            </div>
            <div class="row align-bottom">
                <a href="{% url 'index' %}" class="btn btn-warning ">
                    HOME
                </a>
            </div>

        </div>
        <div class="col-md-10 contenido">
            <p style="color: lightgray">*</p>

            <div class="row">
                <div class="col-md-3  titulo_pagina">
                    <h1>Selecciona tu Sede</h1>

                </div>
                <div class="col" style="align-items: end;"> NOMBRE <img
                        src="{% static 'duoc_gym/resources/avatar-redondo.png' %}" style="width: 45px;" alt=""></div>

                <p style="color: lightgray">*</p>

            </div>

            <div class="container-md-12">


                
                    <!-- 
                        <form action="" class="needs-validation" novalidate>
                        <div class="form-group">
                        <div class="row-md-12">


                            <div class="card-body">
                                <div class="row">



                                    <div class="card col-md-10">

                                        <div class="card-body">
                                            <div class="row">
                                                <h5 class="card-title">Seleccionar Ubicaciones</h5>
                                                <div class="col-md-3">
                                                    <label for="validationCustom04" class="form-label">State</label>
                                                    <select class="form-select" id="validationCustom04" required>
                                                      <option selected disabled value="">Choose...</option>
                                                      <option>...</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                      Please select a valid state.
                                                    </div>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <label for="validationCustom04" class="form-label">State</label>
                                                    <select class="form-select" id="validationCustom04" required>
                                                      <option selected disabled value="">Choose...</option>
                                                      <option>...</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                      Please select a valid state.
                                                    </div>
                                                  </div>
                                                

                                            </div>

                                            <div class="row " >
                                                <h5 class="card-title">Horario</h5>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Diurno
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Vespertino
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="card row-md-12">

                            <div class="card-body">
                                <h1>Descripcion:</h1>
                                <div>
                                    <p>Circuitos: 2</p>
                                    <h1>Maquinas: </h1>

                                    <div class="row">

                                        <div class="card col-md-3">
                                            <img src="../../static/duoc_gym/resources/604189-1.webp" alt="Avatar"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h1>Nombre Maquina</h1>
                                                <div>
                                                    <p>Descripcion</p>
                                                    <p>dsaasdsdahjksadhsdja</p>
                                                </div>
                                            </div>
                                        </div>




                                    </div>



                                </div>

                                <a href="{% url 'plan' %}" class="btn btn-warning" >Anterior</a>
                                <a href="{% url 'd_plan' %}" class="btn btn-warning" type="submit">Siguiente</a>


                </form>


             -->
             <div class="card">
                <div class="card-body">
                    <form class="row g-3 needs-validation" novalidate>
                        

                        <div class="col-md-6">
                          <label for="validationCustom03" class="form-label">Sede</label>
                          <select class="form-select" id="validationCustom03" required>
                            <option selected disabled value="">Selecciona una sede</option>
                            {% for sede in listaSedes %}
                            <option value="{{ sede.idSede }}">{{ sede.nombreSede }}</option>
                            {% endfor %}
                          </select>
                          <div class="invalid-feedback">
                            Por favor Seleccione una sede valida.
                          </div>
                        </div>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required>
                            <label class="form-check-label" for="validationFormCheck2">Diurno</label>
                        </div>
                        <div class="form-check mb-3">
                            <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required>
                            <label class="form-check-label" for="validationFormCheck3">Vespertino</label>
                            <div class="invalid-feedback">Debe seleccionar un horario</div>
                        </div>


                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                              He leído y acepto los terminos y condiciones.
                            </label>
                            <div class="invalid-feedback">
                              Debe aceptar terminos y condiciones.
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit">Ir a Pagar</button>
                        </div>
                      </form>
        
                </div>
              </div>

            





            </div>

        </div>
       
    </div>
    <script src="{% static 'duoc_gym/js/validaciones.js' %}"></script>
</div>
{% endblock cuerpo %}