{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Ficha de Ingreso</title>
{% endblock titulo %}

{% block tituloBar %}
Ficha de Ingreso
{% endblock tituloBar %}

{% block cuerpo %}
<div class="flex flex-wrap justify-center w-full bg-gray-100">
    <form id="socio_auth" action="{% url 'socio_auth' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex mx-2 rounded-md">
            <div class="flex flex-wrap justify-between w-full">
                <div class="text-2xl font-bold w-full p-5">
                    <label>Ficha de Socio</label>
                </div>
                <div class="flex flex-wrap justify-center w-full">
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">RUT</label>
                        {{ fichaForm.rut }}
                    </div>
            
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Altura</label>
                        {{ fichaForm.estatura }}
                    </div>
            
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Peso</label>
                        {{ fichaForm.peso }}
                    </div>
            
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Edad</label>
                        {{ fichaForm.edad }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Fecha de Nacimiento</label>
                        {{ fichaForm.fechaNac }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Sucursal</label>
                        {{ fichaForm.sucursal }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Dirección</label>
                        {{ fichaForm.direccion }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Comuna</label>
                        {{ fichaForm.comuna }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Ciudad</label>
                        {{ fichaForm.ciudad }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Grupo Sanguíneo</label>
                        {{ fichaForm.gSanguineo }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Nombre Contacto de Emergencia</label>
                        {{ fichaForm.emergenciacontacto }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Numero Contacto de Emergencia</label>
                        {{ fichaForm.emergenciacontactoNumero }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">¿Ha tenido o tiene alguna lesión?</label>
                        {{ fichaForm.pLesion }}
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Describa brevemente</label>
                        {{ fichaForm.dLesion }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">¿Padece de alguna enfermedad?</label>
                        {{ fichaForm.pEnfermedad }}
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Describa brevemente</label>
                        {{ fichaForm.dEnfermedad }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">¿Tiene dolores en las articulaciones?</label>
                        {{ fichaForm.pArt }}
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Describa brevemente</label>
                        {{ fichaForm.dArt }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">¿Práctica de manera habitual algún deporte?</label>
                        {{ fichaForm.pDep }}
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">¿Con que frecuencia practica deporte? Indique cantidad en semanas</label>
                        {{ fichaForm.fDeportes }}
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Especifique cual(es):</label>
                        {{ fichaForm.dDep }}
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">¿Es usted?</label>
                        <div class="py-2">
                            {{ fichaForm.asmatico }} Asmático
                        </div>
                        <div class="py-2">
                            {{ fichaForm.diabetico }} Diabético
                        </div>
                        <div class="py-2">
                            {{ fichaForm.epileptico }} Epiléptico
                        </div>
                        <div class="py-2">
                            {{ fichaForm.fumador }} Fumador
                        </div>
                    </div>
                    <div class="py-2 px-2 xl:w-2/6 md:w-6/6">
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Titular del Plan</label>
                        {{ fichaForm.titularPlan }}
                        <input id="plan-individual" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="plan-individual" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Plan Individual</label>
                        <label
                            class="border-gray-900 after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700"
                            for="">Rutina de ejercicios</label>
                        {{ fichaForm.rutina }}
                    </div>
                </div>
            </div>         
                </div>
                <div class="flex justify-between w-full">
                    <button type="reset"
                        class="bg-amber-400 hover:bg-amber-500 p-3 px-2 text-xl my-2 rounded-md focus:ring-2 ring-yellow-200 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
                        Borrar 
                    </button>
                    <button id='btnSubmit' type='submit'
                        class="bg-amber-400 hover:bg-amber-500 p-3 px-2 text-xl my-2 rounded-md focus:ring-2 ring-yellow-200 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
                        Enviar
                    </button>
                </div>
            </div>
            
        </div>
    </form>
</div>
{% comment %} <script>
    document.addEventListener("btnSubmit", function(event) {
        // Todo lo que vaya aqui se ejecutará cuando cargue la página
        console.log("{{.cleaned_data.get('nombre')}}")
    });
    
</script> {% endcomment %}
{% endblock cuerpo %}