{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Menu Principal</title>
{% endblock titulo %}

{% block tituloBar %}
Bienvenido!
{% endblock tituloBar %}

{% block cuerpo %}
<div class="flex flex-wrap justify-evenly max-h-80 w-full gap-8 mt-5 md:px-10 sm:px-2">
  {% if data %}
    <div>{{ data }}</div>
  {% endif %}
  <div class="mx-2 justify-items-center bg-white rounded-lg transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 align-middle overflow-x-auto scroll-smooth" >
    <a href="{% url 'plan' %}">
      <!-- <img  src="../../static/duoc_gym/resources/carrusel/carrusel3.jpg" alt=""> -->
      <div class="bg-local bg-auto bg-cover bg-center h-4/6 w-full rounded-md pt-10  " style="background-image: url(../../static/duoc_gym/resources/carrusel/carrusel3.jpg)">
        <div class="mt-44 mb-5 bg-white h-auto">
          <div class="p-5 flex justify-center whitespace-normal w-full font-bold text-2xl -pt-5">
            Aquí podrá ver nuestros planes.
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class=" mx-2 justify-items-center bg-white rounded-md transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 align-middle overflow-x-auto scroll-smooth">
    <a href="{% url 'm_reservas' %}">
      <!-- <img  src="../../static/duoc_gym/resources/carrusel/carrusel3.jpg" alt=""> -->
      <div class="bg-local bg-auto bg-cover bg-center h-4/6 w-full rounded-md pt-10  " style="background-image: url(../../static/duoc_gym/resources/carrusel/carrusel1.jpg)">
        <div class="mt-44 mb-5 bg-white h-auto">
          <div class="p-5 flex justify-center whitespace-normal w-full font-bold text-2xl -pt-5">
            Aquí podra hacer una reserva.
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

{% endblock cuerpo %}