{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Menu Principal - Docente</title>
{% endblock titulo %}

{% block cuerpo %}
<div class="container-fluid" style="position: relative;">

    <!-- BARRA LATERAL -->

    <div class="row">
        

        </div>
        <div class="col-md-10 contenido">
            <p style="color: lightgray">*</p>

            <div class="row">
                <div class="titulo_pagina">
                    <h1>Bienvenido NombreDocente</h1>
                </div>

                <div>

                </div>
                <h1>Mantenedores</h1>

                <div>
                    <h4><a href="{% url 'lista' %}" class="texto_barra">Alumnos</a> </h4> 
                    <h4><a href="{% url 'lista' %}" class="texto_barra">Planes</a> </h4>
                
                </div>
              
            
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}