{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Docente</title>
{% endblock titulo %}

{% block tituloBar %}
Bienvenido NombreDocente
{% endblock tituloBar %}

{% block cuerpo %}

<!-- container-fluid bg-gradient-to-t md:bg-gradient-to-b from-gray-500 to-gray-100 w-full h-full -->

<div class="grid  justify-items-center bg-white rounded-md  p-5">


    <div>
        <a href="{% url 'lista' %}">
            <button class="  text-xl my-2 rounded-lg shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">

                <div>
                    <img class="z-10" src="../../static/duoc_gym/resources/WALLPAPERS/docente/wDocenteAlumnos.jpg"
                        alt="">
                    <label class="z-0" for="">Alumnos</label>
                </div>
            </button>
        </a>

    </div>
    <div>
        <a href="{% url 'm_planes' %}">
            <button
                class="  text-xl my-2 rounded-lg shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">

                <div>
                    <img class="z-10" src="../../static/duoc_gym/resources/WALLPAPERS/docente/wDocenteAlumnos.jpg"
                        alt="">
                    <label class="z-0" for="">Alumnos</label>
                </div>
            </button>
        </a>      
    </div>

    <div>
        <a href="{% url 'm_maquinas' %}">
            <button
                class="  text-xl my-2 rounded-lg shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">

                <div>
                    <img class="z-10" src="../../static/duoc_gym/resources/WALLPAPERS/docente/wDocenteAlumnos.jpg"
                        alt="">
                    <label class="z-0" for="">Alumnos</label>
                </div>
            </button>
        </a>

    </div>

    <label for="">Gestion de recintos</label>
    <label for="">Gestion de Clases</label>
    <label for="">Gestion de Rutinas</label>
</div>


{% endblock cuerpo %}