{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Menu Principal - Docente</title>
{% endblock titulo %}

{% block cuerpo %}
<div class="container-fluid" style="position: relative;">

    <!-- BARRA LATERAL -->

    <div class="row">
        

        </div>
        <div class="col-md-10 contenido">
            <p style="color: lightgray">*</p>

            <div class="row">
                <div class="titulo_pagina">
                    <h1>Bienvenido Docente!!</h1>
                </div>
                <div>
                    <h4><a href="../Funcionarios/Lista_Alumnos/lista_alumnos.html" class="texto_barra">Lista Alumnos</a> </h4> 
                    <h4><a href="../Socios/socios_registrarse.html" class="texto_barra">Registrar Socios</a> </h4>
                
                </div>
              
            
            </div>
        </div>
    </div>
</div>
{% endblock cuerpo %}