{% extends "duoc_gym/include/base.html" %}
{% extends "duoc_gym/include/mantenedores.html %"}
{% load static %}

{% block titulo %}
<title>Lista de Alumnos</title>
{% endblock titulo %}

{% block tituloBar %}
Lista Alumnos
{% endblock tituloBar %}

{% block cuerpo %}



<div class="grid  justify-items-center items-stretch bg-white mx-2 rounded-md">
    
    <button class="bg-gray-400 hover:bg-gray-500  p-3 text-xl rounded-full shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 my-8">+</button>

    <label class="relative block">
        <span class="sr-only">Search</span>
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"><!-- ... --></svg>
        </span>
        <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Search for anything..." type="text" name="search"/>
    </label>

    <table class="border-collapse table-fixed w-4/6 text-sm bg-gray-500 mt-8 rounded-md">
        <thead>
            <tr>
                <th
                    class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-white dark:text-slate-400 text-left">
                    RUT
                </th>

                <th
                    class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-white dark:text-slate-400 text-left">
                    Nombre
                </th>

                <th
                    class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-white dark:text-slate-400 text-left">
                    Fecha Reserva
                </th>

                <th
                    class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-white dark:text-slate-400 text-left">
                    Mantenedores
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="bg-slate-200 dark:bg-silver-600">
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8">
                    11.111.111-1
                </td>

                <td class="border-b border-slate-100 dark:border-slate-700 p-4 ">
                    Bastian Astudillo
                </td>

                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 ">
                    03/03/2023
                </td>

                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>

                </td>
            </tr>
            <tr class="bg-white dark:bg-silver-400">
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8">
                    22.222.222-2
                </td>

                <td class="border-b border-slate-100 dark:border-slate-700 p-4 ">
                    Alvaro Awero
                </td>

                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 ">
                    08/03/2023
                </td>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>

                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button
            class="bg-gray-400 hover:bg-gray-500 p-3 text-xl rounded-md shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 my-8">
            <a href="{% url 'docente' %}" class="texto_barra">Volver</a>
        </button>
    </div>
</div>

{% endblock cuerpo %}