{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
    <title>Lista de Alumnos</title>
{% endblock titulo %}

{% block cuerpo %}
    <div class="container-fluid">

        <!-- BARRA LATERAL -->

        <div class="row">
            <div class="col-md-2 barra_lateralD ">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="titulo1">Duoc</h2>
                    </div>
                    <div class="col-md">
                        <h2 class="titulo2">UC GYM</h2>
                    </div>

                    <p>*</p>
                    <p>*</p>
                </div>
                <div class="row">
                    <h4><a href="../../Index/index.html" class="texto_barra">Menu Principal</a> </h4>
                    <h4><a href="../../Socios/socios_registrarse.html" class="texto_barra">Registrar Socios</a> </h4>

                    <p>*</p>
                </div>
                <div class="row align-bottom">
                    <a href="" class="btn btn-danger">
                        TEC
                    </a>
                </div>

            </div>
            <div class="col-md-10 contenido">
                <p style="color: lightgray">*</p>

                <div class="row">
                    <div class="col-md-3  titulo_pagina">
                        <h1>Lista de alumnos</h1>
                    </div>
                    <div class="col" style="align-items: end;"> NOMBRE <img src="{% static 'duoc_gym/resources/avatar-redondo.png' %}"
                            style="width: 45px;" alt=""></div>
                </div>
                <p style="color: lightgray">*</p>
                <table class="table table-striped estilo-table">
                    <thead>
                        <tr>
                            <th scope="row">Rut</td>
                            <th scope="row">Nombre</td>
                            <th scope="row">Altura</td>
                            <th scope="row">Peso</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock cuerpo %}