{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Lista de Alumnos</title>
{% endblock titulo %}

{% block tituloBar %}
Lista Alumnos
{% endblock tituloBar %}

{% block cuerpo %}
<div class="flex w-full">
    <div class="flex flex-wrap w-full ">
        <div class="flex justify-end">
            <div class="py-2 pl-40 text-l">
                <p>NOMBRE</p>
                <img src="{% static 'duoc_gym/resources/avatar-redondo.png' %}" style="width: 45px;" alt="">
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
                    <div class="col-md-3  titulo_pagina">
                        <h1>Lista de alumnos</h1>
                    </div>
                    <div class="col" > NOMBRE 
                        <img src="{% static 'duoc_gym/resources/avatar-redondo.png' %}"style="width: 45px;" alt="">
                    </div>
                </div> -->

<ul role="list" class="grid justify-items-center flex items-stretch bg-white mx-8 rounded-md">

    <li class="group/item hover:bg-slate-100 ">
        <img src="{% static 'duoc_gym/resources/avatar-redondo.png' %}" style="width: 45px;" alt="">
        <div>
            <a href="{person.url}">Morli morales</a>
            <p>11.111.111-1</p>
        </div>
        <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible " href="tel:{person.phone}">
            <span class="group-hover/edit:text-gray-700">Modificar</span>
            <span class="group-hover/edit:text-gray-700">Eliminar</span>
            <svg class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">

            </svg>
        </a>

    </li>


</ul>



<!--                 
                <table class="table table-striped estilo-table">
                    <thead>
                        <tr>
                            <th scope="row">Rut</td>
                            <th scope="row">Nombre</td>
                            <th scope="row">Altura</td>
                            <th scope="row">Peso</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                        <tr>
                            <td>22.222.222-2</td>
                            <td>Jose Farias </td>
                            <td>1.60 Mts</td>
                            <td>72Kg</td>
                        </tr>
                    </tbody>
                </table> -->

<div>
    <button
        class="bg-gray-400 hover:bg-gray-500 p-3 text-xl my-2 rounded-md shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
        <a href="{% url 'docente' %}" class="texto_barra">Volver</a>
    </button>
</div>
</div>
{% endblock cuerpo %}