{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Lista de Alumnos</title>
{% endblock titulo %}

{% block cuerpo %}
<div class="container-fluid">

    <!-- BARRA LATERAL -->

    <div class="flex">
        <div class="w-full flex flex-wrap">
            <div class="flex justify-between w-full">
                <div class="flex justify-start">
                    <h1 class="bg-yellow-500 py-2 pl-40 text-l">Lista Planes</h1>
                </div>
                <div class="flex justify-end w-full">
                    <div class="py-2 pl-40 text-l">
                        <p>NOMBRE</p>
                        <img src="{% static 'duoc_gym/resources/avatar-redondo.png' %}" style="width: 45px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ul role="list" class="grid justify-items-center flex items-stretch bg-white mx-8 rounded-md">

        <li class="group/item hover:bg-slate-100 ">
            <img src="{% static 'duoc_gym/resources/avatar-redondo.png' %}" style="width: 45px;" alt="">
            <div class="">
                <a href="{person.url}">Plan Economico</a>
                <p>Monto</p>
                <p>$10.000</p>
            </div>
            <!--  en <a> = href="tel:{person.phone}"-->
            <a class="group/edit invisible hover:bg-slate-200 group-hover/item:visible "  >
                <span class="group-hover/edit:text-gray-700">Modificar</span>
                <span class="group-hover/edit:text-gray-700">Eliminar</span>
                <svg class="group-hover/edit:translate-x-0.5 group-hover/edit:text-slate-500">

                </svg>
            </a>

        </li>


    </ul>

    <div>
        <button
            class="bg-gray-400 hover:bg-gray-500 p-3 text-xl my-2 rounded-md shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="{% url 'docente' %}" class="texto_barra">Volver</a>
        </button>
    </div>
</div>
{% endblock cuerpo %}