{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Mis Reservas</title>
{% endblock titulo %}

{% block tituloBar %}
Mis Reservas
{% endblock tituloBar %}

{% block cuerpo %}
<div class="flex flex-wrap justify-center w-full bg-gray-100">
    <form action="">
        {% csrf_token %}
        <div class="flex mx-2 rounded-md">
            <div class="flex flex-wrap justify-start w-full">
                <div class="flex justify-center w-full">
                    <a class="capitalize text-1xl truncate bg-amber-400 hover:bg-amber-500 p-3 px-2 text-xl my-2 rounded-md focus:ring-2 ring-yellow-200 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300" href="{% url 'a_reserva' %}">
                        Agregar Reserva
                    </a>
                </div>
                <div class="text-2xl font-bold w-full p-5">
                    {% if reservas %}
                        {% for reserva in reservas %}
                            <div class="flex flex-wrap justify-center w-full">
                                <div>
                                    <label>{{ reserva.clase.curso.nombreCurso }}</label>
                                    <label>{{ reserva.clase.fechaClase }}</label>
                                    <label>{{ reserva.clase.horaClase }}</label>
                                    <a href="{% url 'b_reserva' reserva.idCursoReserva %}">Eliminar</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <label>No hay reservas</label>
                    {% endif %}
                </div>
            </div>            
        </div>
    </form>
</div>
{% comment %} <script>
    document.addEventListener("btnSubmit", function(event) {
        // Todo lo que vaya aqui se ejecutará cuando cargue la página
        console.log("{{.cleaned_data.get('nombre')}}")
    });
    
</script> {% endcomment %}
{% endblock cuerpo %}