{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
<title>Menu Principal</title>
{% endblock titulo %}

{% block tituloBar %}
Mi Plan
{% endblock tituloBar %}

{% block cuerpo %}
<div class="flex flex-wrap w-full">
    <div class="flex w-full">
        <div class="flex flex-wrap w-full justify-between">
            <div class="flex justify-center  items-center w-full">
                {% if user.is_sub %}
                <div
                    class="mx-2 justify-items-center bg-white rounded-lg transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 align-middle overflow-x-auto scroll-smooth">

                    <div class="bg-local bg-auto bg-cover bg-center h-4/6 w-full rounded-md pt-10  "
                        style="background-image: url(../../static/duoc_gym/resources/ejercicio_custom.avif)">
                        <div class="mt-44 mb-5 bg-white h-auto">
                            <div class="p-5 flex justify-center whitespace-normal w-full font-bold text-2xl -pt-5">
                                <div class="w-full">
                                    <div class="flex justify-center justify-items-center w-full">
                                        <div class="flex justify-center w-full font-bold text-4xl">{{ miPlan.nombrePlan}}</div>

                                    </div>
                                    
                                    <div class="flex justify-center w-full text-lg">{{ miPlan.descripcionPlan }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" bg-amber-400 hover:bg-red-500 hover:text-white p-3 text-xl my-2 rounded-b-lg focus:ring-2 ring-yellow-200 shadow-lg shadow-gray-500/40  duration-300">
                        <button>Cancelar Suscripcion</button>
                    </div>
                   
                </div>


                {% else %}
                <h4>Aún no tiene un plan. ¿Desea inscribirse?</h4>
                <button
                    class="ml-3 bg-amber-400 hover:bg-amber-500 p-3 text-xl  my-2 rounded-md focus:ring-2 ring-yellow-200 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
                    <a href="{% url 'plan' %}">Suscribirme</a>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <button
        class="bg-gray-400 hover:bg-gray-500 p-3 text-xl my-2 rounded-md shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
        <a href="{% url 'p_alumno' %}" class="texto_barra">Empecemos!</a>
    </button>
</div> -->
{% endblock cuerpo %}