{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
    <title>Menu Principal</title>
{% endblock titulo %}



{% block cuerpo %}
    <div class="container-fluid" style="position: relative;">

        <!-- BARRA LATERAL -->
        
        <div class="row">
            

        
            <div class="col-md-10 contenido">
                <p style="color: lightgray">*</p>

                <div class="row">
                    <div class="col-md-3  titulo_pagina">
                        <h1>Mi Plan</h1>
                    </div>
                    <div class="col" style="align-items: end;"> NOMBRE <img
                        src="{% static 'duoc_gym/resources/avatar-redondo.png' %}" style="width: 45px;" alt="">
                    </div>
                    
                    <div>
                        <h4>Aún no tiene un plan. ¿Desea inscribirse?</h4>
                    </div>

                    <div>
                        <button
                            class="bg-amber-400 hover:bg-amber-500 p-3 text-xl my-2 rounded-md focus:ring-2 ring-yellow-200 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
                            <a href="{% url 'plan' %}">Suscribirme</a> </button>
                    </div>
                   
                </div>                
            </div>

            <div>
                <button class="bg-gray-400 hover:bg-gray-500 p-3 text-xl my-2 rounded-md shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300" >
                    <a href="{% url 'p_alumno' %}" class="texto_barra">Empecemos!</a> 
                </button>
            </div>
        </div>
    </div>
{% endblock cuerpo %}