{% extends "duoc_gym/include/base.html" %}

{% load static %}

{% block titulo %}
    <title>Registrarse Socios</title>
{% endblock titulo %}

{% block cuerpo %}
    <div class="container-fluid" style="position: relative;">

        <!-- BARRA LATERAL -->

        <div class="row">
            <div class="col-md-2 barra_lateralD ">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="titulo1">Duoc</h2>
                    </div>
                    <div class="col-md">
                        <h2 class="titulo2">UC GYM</h2>
                    </div>

                    <p>*</p>
                    <p>*</p>
                </div>
                <div class="row">
                    <h4><a href="../Index/index.html" class="texto_barra">Menu Principal</a> </h4>


                    <p>*</p>
                </div>
                <div class="row align-bottom">
                    <a href="" class="btn btn-danger">
                        TEC
                    </a>
                </div>

            </div>
            <div class="col-md-10 contenido">
                <p style="color: lightgray">*</p>

                <div class="row">
                    <div class="col-md-3  titulo_pagina">
                        <h1>Registrarse</h1>
                    </div>

                    <p style="color: lightgray">*</p>

                </div>

                <div class="container-md">
                    <form action="" class="formulario" style="font-size:32px">
                        <div class="form-group">
                            <div>
                                <label for="">RUT</label>
                                <input class="form-control" type="text">
                            </div>

                            <div>
                                <label for="">Nombre</label>
                                <input class="form-control" type="text">
                            </div>

                            <div>
                                <label for="">Apellido 1</label>
                                <input class="form-control" type="text">
                            </div>

                            <div>
                                <label for="">Apellido 2</label>
                                <input class="form-control" type="text">
                            </div>

                            <div>
                                <label for="">Correo</label>
                                <input class="form-control" type="text">
                            </div>

                            <div style="margin-top: 10px" >
                                <button class="btn btn-success" style="font-size:32px">Enviar</button>
                                <button class="btn btn-danger" style="font-size:32px">Borrar</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock cuerpo %}