<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}{% endblock titulo %}
    <!-- CSS STYLES -->
    <link href="{% static 'duoc_gym/css/estilo.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="flex flex-wrap h-screen">
        <div class="w-1/6 bg-gray-700 p-2">
            <div class="flex">
                <div class="flex flex-wrap text-4xl">
                    <h2 class="text-white">Duoc</h2>
                    <h2 class="text-yellow-500">UC GYM</h2>
                </div>
            </div>
            <div class="w-full py-8">
                <ul class="pt-8">
                    <li class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-2xl truncate" href="{% url 'l_plan' %}">Mi Plan</a>
                    </li>
                    <li class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-2xl truncate" href="{% url 'docente' %}">Docentes</a>
                    </li>
                    <li class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-2xl truncate" href="">Maquinas (no disponible)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-5/6 contenido">
            {% block cuerpo %}{% endblock cuerpo %}
        </div>
    </div>
    

    <!-- GLOBAL SCRIPTS -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                fontFamily: {
                    sans: ["Roboto", "sans-serif"],
                    body: ["Roboto", "sans-serif"],
                    mono: ["ui-monospace", "monospace"],
                },
            },
            corePlugins: {
                preflight: false,
            },
        };
    </script>
</body>

</html>