<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}{% endblock titulo %}
    <!-- CSS STYLES -->
    <link href="{% static 'duoc_gym/css/estilo.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="w-1/6 h-full barra_lateralD">
        <div class="flex">
            <div class="flex flex-wrap">
                <h2 class="titulo1 flex-initial">Duoc</h2>
                <h2 class="titulo2 flex-initial">UC GYM</h2>
            </div>
        </div>
        <div class="flex flex-wrap">
            <button class="outline outline-offset-2 outline-blue-500">
                <a href="{% url 'l_plan' %}">Mi Plan</a>
            </button>
        </div>
    </div>
    <div class="w-flex h-full contenido">
        {% block cuerpo %}{% endblock cuerpo %}
    </div>

    <!-- GLOBAL SCRIPTS -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                fontFamily: {
                    sans: ["Roboto", "sans-serif"],
                    body: ["Roboto", "sans-serif"],
                    mono: ["ui-monospace", "monospace"],
                },
            },
            corePlugins: {
                preflight: false,
            },
        };
    </script>
</body>

</html>