<aside class="fixed inset-y-0 flex-wrap items-center justify-between block w-64 p-0 transition-all duration-200 ease-in-out -translate-x-full bg-gray-600 shadow-none dark:bg-slate-850 max-w-64 xl:translate-x-0" id="sidenav-main">
    <div class="h-full flex justify-center">
        <a class="block py-4 m-0 whitespace-nowrap text-3xl text-slatse-700 dark:text-white" href="" target="_blank">
            <label class="text-white">Duoc</label>
            <label class="text-yellow-500">UC GYM</label>
        </a>
        <div class="items-center block w-full h-auto grow basis-full" id="sidenav-collapse-main">
            <ul class="flex flex-col pl-0 mb-0 list-none">
                <li>LINK 1 y la wea</li>
            </ul>
        </div>
    </div>
    
</aside>