<aside class="fixed inset-y-0 flex-wrap items-center justify-between block w-64 p-0 transition-all duration-200 ease-in-out -translate-x-full bg-gray-600 shadow-none dark:bg-slate-850 max-w-64 xl:translate-x-0" id="sidenav-main">
    <div class="h-auto flex justify-center">
        <a class="block py-4 m-0 whitespace-nowrap text-3xl text-slatse-700 dark:text-white" href="" target="_blank">
            <label class="text-white">Duoc</label>
            <label class="text-yellow-500">UC GYM</label>
        </a>
    </div>
    <div class="items-center block w-full h-auto grow basis-full" id="sidenav-collapse-main">
        <div class="w-full">
            <ul class="pt-8">
                {% if user.is_authenticated %}
                    {% if user.tipoUsuario.idTipo == 3 %}
                        {% if isSub %}
                        <li
                            class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                            <a class="capitalize text-1xl truncate" href="{% url 'l_plan' %}">Mi Plan</a>
                        </li>
                        {% else %}
                        <li
                            class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                            <a class="capitalize text-1xl truncate" href="{% url 'plan' %}">Ver Planes</a>
                        </li>
                        {% endif %}
                    <li
                        class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-1xl truncate" href="">Mis Reservas</a>
                    </li>
                    <li
                        class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-1xl truncate" href="">Mi Perfil</a>
                    </li>
                    <li
                        class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-1xl truncate" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li
                        class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-1xl truncate" href="{% url 'l_plan' %}">Mi Plan</a>
                    </li>
                    <li
                        class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                        <a class="capitalize text-1xl truncate" href="">Docentes</a>
                    </li>
                        {% if user.tipoUsuario.idTipo == 1 %}
                        <li
                            class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                            <a class="capitalize text-1xl truncate" href="">Maquinas (no disponible)</a>
                        </li>
                        <li
                            class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                            <a class="capitalize text-1xl truncate" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% else %}
                <li
                    class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                    <a class="capitalize text-1xl truncate" href="{% url 'plan' %}">Ver Planes</a>
                </li>
                <li
                    class="bg-gray-600 hover:bg-gray-500 p-3 my-1 shadow-lg shadow-gray-500/40  transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 w-full text-white hover:text-yellow-500">
                    <a class="capitalize text-1xl truncate" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    
</aside>